body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.todo-container{
    width: 300px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
}



.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-button{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border:none;
    font-weight: bold;
    cursor: pointer;
}

.todo-item-text{
    margin-left: 5px;
}